<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#" style="margin-left: 0.5rem">
    <img
      src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/36689/female-girl-eating-toast-clipart-md.png
    "
      width="50"
      height="50"
      alt=""
    />
    <span style="margin-left: 2rem">{{ title }}</span></a
  >
</nav>

<app-btn-container></app-btn-container>

<app-logger></app-logger>

<!-- <div class="iterator">
  <div
    *ngFor="let item of notifications"
    style="margin-top: 5px; margin-left: 5px"
  >
    <app-toast [toastEnabled]="toastEnabled" [toastData]="item"></app-toast>
  </div>
</div> -->

<!-- <app-toast [toastEnabled]="toastEnabled" [toastData]="item"></app-toast> -->

<!-- {{ notifications | json }} -->

<app-toast-container></app-toast-container>
