.toast-container {
  position: fixed;
  bottom: 0px;
  right: 0px;

  width: 15rem;
  max-width: 25rem;

  margin-bottom: 1.5rem;
  padding: 1rem;

  display: flex;
  justify-content: space-between;

  .toast-header {
    margin-bottom: 0.5rem;
  }
}
