.toast-container {
  position: absolute;
  bottom: 0px;
  right: 0px;

  max-width: 25rem;
  margin: 0.5rem;
  padding: 1rem;

  display: flex;

  .toast-header {
    margin-bottom: 0.5rem;
  }

  .is-success {
    background-color: #d4edda;
  }

  .close-btn {
    justify-items: center;
  }
}
