<div *ngIf="toastEnabled">
  <!-- <div
    class="toast-container"
    [style.background-color]="toastData.backgroundColor"
  >
    <div class="toast-header">{{ toastData.header }}</div>
    <div class="toast-body">{{ toastData.bodyCopy }}</div>
  </div> -->

  <div class="toast-container" [style.background]="toastData.backgroundColor">
    <div>
      <div class="toast-header">{{ toastData.header }}</div>
      <div class="toast-body">{{ toastData.bodyCopy }}</div>
    </div>
    <button type="button" class="btn-close" aria-label="Close"></button>
  </div>
</div>
