.container {
  // display: flex;
  // justify-content: space-around;
  z-index: 1;

  margin-top: 3rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.buttons-header {
  text-align: center;
  margin-bottom: 2rem;
}

button {
  width: 180px;
}
